<p class="mb-5">Motion design + Group project</p>
<h1 class="mb-12 text-5xl font-bold">Virtual Factory Promovideo</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  This project was a collaboration between colleagues from marketing, design and
  my specialization (multimedia). We came up with an idea and concept together.
  All of the graphics were created by the designers while my colleague and I
  animated and assembled the project as a whole. My contribution ends at 0:21.
</p>

<div class="youtube-video-container">
  <iframe
    src="https://www.youtube.com/embed/6AinWpG9fjg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
