<p class="mb-5">UI/UX + Motion Design + Concept Idea</p>
<h1 class="mb-12 text-5xl font-bold">IHF Women's World Championship 2023 Graphics Package</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">

    This project was made for <a class="hyperlink" href="https://www.ihf.info/media-center/events/26th-ihf-womens-world-championship">IHF Women's 2023 World Championship Croatia 2023</a> .
    I had to design and animate UI elements. The package consisted out of Line up, Half-time, Intro, Game Statistics, Referees and Score graphics. 
    I was only given a logo and a font, and I had to create everything else by myself. I used the logo as my target color palette.
</p>
<h3 class="mb-2 mt-5 text-l font-bold">Logo</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[500px]" src="assets/images/ihf-womens/logo.png" />
  </div>

<h3 class="mb-2 mt-5 text-l font-bold">Color Palette</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[700px]" src="assets/images/ihf-womens/pallate.png" />
  </div>

  <p class="mb-5 text-base italic">
    For every item in the package, I made multiple versions in Figma so my client could have a range of choices. You can access all the versions if you like at this  <a class="hyperlink" href="https://www.figma.com/file/tHH45f3rLKfjmuVePZFhKm/IHF-Womens-2023?type=design&node-id=0%3A1&mode=design&t=q9SElQI7xv6dgR4E-1">link</a>.
</p>
  
  <h3 class="mb-2 text-xl font-bold">End Product</h3>

  <h3 class="mb-2 text-l font-bold">Style Frames</h3>
  <div class="mb-5 flex flex-wrap gap-4 ">
    <img class="max-w-[600px] w-full" src="assets/images/ihf-womens/Intro.png" />
    <img class="max-w-[600px] w-full" src="assets/images/ihf-womens/Grupa.png" />
    <img class="max-w-[600px] w-full" src="assets/images/ihf-womens/Schedule.png" />
    <img class="max-w-[600px] w-full" src="assets/images/ihf-womens/stats.png" />
    <img class="max-w-[600px] w-full" src="assets/images/ihf-womens/Referees.png" />
    <img class="max-w-[600px] w-full" src="assets/images/ihf-womens/score.png" />
  </div>

  <h3 class="mb-2 text-l font-bold">Animation</h3>
<div class="mb-5 flex flex-wrap gap-4 ">
  <div class="youtube-video-container">
    <iframe
      src="https://www.youtube.com/embed/nUOlLbqFRqs"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="youtube-video-container">
    <iframe
      src="https://youtube.com/embed/du2owLZVaf4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="youtube-video-container">
    <iframe
      src="https:///www.youtube.com/embed/SNKnZ7yUrIE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="youtube-video-container">
    <iframe
      src="https://youtube.com/embed/WuMNqepvaFk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="youtube-video-container">
    <iframe
      src="https://youtube.com/embed/xstxfaAVvyQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="youtube-video-container">
    <iframe
      src="https://youtube.com/embed/cay-sMFSQwE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  </div>

