<p class="mb-5">Graphic Design + Concept Idea</p>
<h1 class="mb-12 text-5xl font-bold">Wine Label</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
    In this project, I created a cocktail menu for a private party. There are 5 spirits on the menu, each with a unique cocktail. 
    I imagined a menu written in charkoil on a blackboard, so I transformed all the elements to resemble charkoil.
</p>

<div class="mb-5 flex flex-wrap justify-evenly images-container gap-5">
  <img src="assets/images/cocktails-menu/menu-gin.png"/>
  <img src="assets/images/cocktails-menu/menu-rum.png"/>
  <img src="assets/images/cocktails-menu/menu-tekilapsd.png"/>
  <img src="assets/images/cocktails-menu/menu-vodka2.png"/>
  <img src="assets/images/cocktails-menu/menu-whiskey.png"/>
</div>

