<p class="mb-5">UI/UX + Motion Design + Concept Idea</p>
<h1 class="mb-12 text-5xl font-bold">IHF U19 World Championship Croatia 2023 Graphics Package</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">

    This project was made for <a class="hyperlink" href="https://www.ihf.info/media-center/events/2023-ihf-mens-youth-u19-world-championship">IHF U19 World Championship Croatia 2023</a> .
    I had to design and animate UI elements for the U19 tournament. The package consisted out of Line up, Half-time, Intro, Game Statistics, Referees and Score graphics. 
    I was only given a logo and a font, and I had to create everything else by myself. I used the logo as my target color palette.
</p>
<h3 class="mb-2 mt-5 text-l font-bold">Logo</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[500px]" src="assets/images/ihfU19/ihflogo.png" />
  </div>

<h3 class="mb-2 mt-5 text-l font-bold">Color Palette</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[700px]" src="assets/images/ihfU19/artboard.png" />
  </div>

  <p class="mb-5 text-base italic">
    I wanted my design to have a consistency with the given logo. I created a few design styles and proposed them to the client.
    While Client was his favorite style, I created a few animations so he could better understand how style frames would move in real time. 
    After the client picked his favorite, I began creating other designs found in the package.
</p>
  <h3 class="mb-2 text-xl font-bold">Proposed Styles</h3>
  <div class="mb-5 flex flex-wrap gap-4 ">
    <img class="max-w-[600px] w-full" src="assets/images/ihfU19/MoguceVerzije/centerwhitepolygons.png" />
    <img class="max-w-[600px] w-full" src="assets/images//ihfU19/MoguceVerzije/CenterWhitev1.png" />
    <img class="max-w-[600px] w-full" src="assets/images//ihfU19/MoguceVerzije/centerwhitev4.png" />
    <img class="max-w-[600px] w-full" src="assets/images//ihfU19/MoguceVerzije/centerwhitev5.png" />
    <img class="max-w-[600px] w-full" src="assets/images//ihfU19/MoguceVerzije/RightCompGreenv4.png" />
    <img class="max-w-[600px] w-full" src="assets/images//ihfU19/MoguceVerzije/RightCompGreenv2.png" />
    <img class="max-w-[600px] w-full" src="assets/images//ihfU19/MoguceVerzije/Glass.png" />
    
  </div>
  <h3 class="mb-2 text-xl font-bold">End Product</h3>
 
<div class="mb-5 flex flex-wrap gap-4 ">
    
    <video controls class="max-w-[600px] w-full" src="assets/videos/ihfU19/U19Intro.mp4" type="video/mp4"></video>
    <video controls class="max-w-[600px] w-full" src="assets/videos/ihfU19/U19 stats.mp4" type="video/mp4"></video>
    <video controls class="max-w-[600px] w-full" src="assets/videos/ihfU19/U19LineUp.mp4" type="video/mp4"></video>
    <video controls class="max-w-[600px] w-full" src="assets/videos/ihfU19/U19 sudci.mp4" type="video/mp4"></video>
    <video controls class="max-w-[600px] w-full" src="assets/videos/ihfU19/U19 rezultat.mp4" type="video/mp4"></video>
    <video controls class="max-w-[600px] w-full" src="assets/videos/ihfU19/U19 halftime.mp4" type="video/mp4"></video>
  </div>

