<p class="mb-5">Video editing + Color correction + Intership</p>
<h1 class="mb-12 text-5xl font-bold">Making of Vegeta Commercial</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  This project was made during my internship at
  <a class="hyperlink" href="https://www.valprodukcija.hr/" target="_blank">
    Val produkcija.
  </a>
  I did all the editing, color correction and 4:5 version for Instagram. Intro
  was made in After Effects.
</p>

<div class="youtube-video-container">
  <iframe
    src="https://www.youtube.com/embed/jQK3pmcEk9s"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
