<p class="mb-5">Graphic Design + Concept Idea</p>
<h1 class="mb-12 text-5xl font-bold">Olival Job Application</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
    This project was a task for a job application company called Olival. I was required to create promotional material for their Sun product line. Promotional material consisted of an Instagram Story ad, a social media visual, and a hero banner. 
    <br> First, I began drawing ideas on paper. My main motif was the sun, which inspired me to design a sun pattern. I sketched a couple of sun patterns and invisoned the colors of the promotarial to be shades of the setting sun.
</p>


<h3 class="mb-2 mt-5 text-l font-bold">Color Palette</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[700px]" src="assets/images/olival/olivalPalette.png" />
  </div>


<h3 class="mb-2 mt-5 text-l font-bold">Elemetns used in pattern</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[500px]" src="assets/images/olival/suns.png" />
  </div>
<h3 class="mb-2 mt-5 text-l font-bold">Pattern</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[500px] " src="assets/images/olival/pattern.png" />
  </div>
  <p class="mb-5 text-base italic">
    I started by drawing a couple of suns to serve as patterns. After deciding on the colors, I designed a pattern that I used as the background for the promotional materials.
   <br> I used Helivetica font for its clarity and added shadows beneath the text to reflect the sun's steady fading from yellow to crimson as it sets.  <br> For the story ad, I animated the pattern to make the design feel more alive.
</p>
  <h3 class="mb-2 text-xl font-bold">Story Ad and Promotional Visual</h3>
  <div class="mb-5 flex flex-wrap gap-4 ">
    <img class="max-w-[300px] w-full" src="assets/images/olival/olivalAD.gif" />
    <img class="max-w-[500px] w-full" src="assets/images/olival/visualAD.jpg" />
  </div>
  <h3 class="mb-2 text-xl font-bold">Hero Banner</h3>
  <p class="mb-5 text-base italic">
    I utilized the same pattern for the hero banner, but inverted the colors and added SUN products in front of the background. <br>
    I wanted to show how many and what things are on sale, giving the impression that there are numerous products to be purchased.
</p>
<div class="mb-5 flex flex-col gap-4 ">
    <img class="max-w-[600px] w-full" src="assets/images/olival/heroBanner.jpg" />
    <img class="max-w-[600px] w-full" src="assets/images/olival/heroBanner.gif" />
  </div>
  <h3 class="mb-2 text-xl font-bold">Promotional Poster</h3>
  <p class="mb-5 text-base italic">
    My next work was to design a promotional poster for Olival deo sticks. First, I wanted to make a poster depicting deo sticks strolling down the runway, with each color of carpet representing their aroma. <br>
    However, after much trial and error a idea was born, that I decided to adopt as a final proposal. 
    Similar to the original design, I divided the poster into three identical sizes and utilized photographs of different smells as backdrops to highlight their smell.
</p>
<div class="mb-5 flex flex-row gap-4 ">
    <div class="mb-5 flex flex-col ">
    <h3 class="mb-2 mt-5 text-l font-bold">First Concept</h3>
<img class="max-w-[400px] w-full" src="assets/images/olival/koncept1.png" />
</div>
<div class="mb-5 flex flex-col ">
<h3 class="mb-2 mt-5 text-l font-bold">End Result</h3>
<img class="max-w-[400px] w-full" src="assets/images/olival/koncept3.png" />
</div>
</div>
