<p class="mb-5">Motion design + HTML + CSS + JS + SEO</p>
<h1 class="mb-12 text-5xl font-bold">Lavandera Website</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  The client requested a brand-new website be created for his company with intro animation. 
  He was missing the original files of the logo, so I had to redesign it from scratch.
  <h3 class="mb-2 mt-5 text-l font-bold">Reference image</h3>
<div class="mb-5 flex flex-wrap">
    <img src="assets/images/lavandera/old_logo_lav.png" />
  </div>

  <h3 class="mb-2 mt-5 text-l font-bold">Project solution</h3>
  <p class="mb-5 text-base italic">
  I created a website in HTML, CSS, and JS without any third-party libraries.<a class="hyperlink" href="https://www.lavandera.hr/" target="_blank">
    Website Link
  </a>
  The logo was redesigned in Adobe Illustrator, split into layers, and animated in Adobe After Effects as requested.
</p>

<div class="youtube-video-container">
  <video controls src="assets/videos/lavandera.mp4" type="video/mp4"></video>
</div>

<h3 class="mb-2 text-xl font-bold">About the SEO strategy</h3>
<p class="mb-5 text-base italic">
I started by investigating rival websites and evaluating how they appeared in Google search results.
In order to promote my website with distinctive keywords, I looked into their descriptions and titles for phrases that weren't utilized frequently. 
I used the most common keywords in the description that people would use when searching for laundry services (preuzimanje, pranje, sušenje, peglanje, besplatna dostava rublja). 
For the title, I used unique keywords like the name of the company, Lavandera, and the region from where they are operating, Makarska.
As a result, they can easily be at the top in their region.
<br>
A website's introduction reduces bounce rates since it quickly grabs users' attention.
The website loads quickly because it isn't overly bloated and is hence lightweight, which is advantageous for SEO. 
</p>
<h3 class="mb-2 mt-5 text-l font-bold">SEO results</h3>
<a class="hyperlink" href="https://www.google.com/search?client=firefox-b-d&q=lavandera" target="_blank">lavandera keyword result</a> 
<a class="hyperlink" href="https://www.google.com/search?client=firefox-b-d&q=praonica+rublja+makarska" target="_blank">praonica rublja makarska</a> 
<a class="hyperlink" href="https://www.google.com/search?client=firefox-b-d&q=makarska+praona" target="_blank">makarska praona</a> 
