<p class="mb-5">Motion design + HTML + CSS + JS</p>
<h1 class="mb-12 text-5xl font-bold">Lavandera Website</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  I created a website in HTML, CSS, and JS from scratch for this project.
  <br />
  I also made a website intro in After Effects.
  <a class="hyperlink" href="https://www.lavandera.hr/" target="_blank">
    Website Link
  </a>
</p>

<div class="youtube-video-container">
  <video controls src="assets/videos/lavandera.mp4" type="video/mp4"></video>
</div>
