
.custom-btn {
  width: 150px;
  height: 90px;
  padding: 10px 15px;
  border: 2px solid var(--clr-blue);
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-4 {
  position: relative;
  color: var(--clr-blue);
  z-index: 2;
  line-height: 40px;
  padding: 0;
}
.btn-4:hover {
  border: none;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-4:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--clr-blue);
  border-left-color: var(--clr-blue);
}
.btn-4:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--clr-green);
  border-right-color: var(--clr-green);
}
.btn-4:hover:before,
.btn-4:hover:after {
  border-color: var(--clr-green);
  height: 100%;
  width: 100%;
}
.cv {
  width: 50px;
  margin-top: 10px;
}
