<h1 class="mb-12 text-4xl font-bold">Hello my name is Medini Nikola</h1>

<h3 class="mb-2 text-xl font-bold">About me</h3>

<p class="mb-3 max-w-[700px] text-secondary">
  I'm an Multimedia Designer who's primary interests are in the areas of motion
  design and video editing but due to nature of multimedia I also have decent
  skills in web design and development.
</p>

<h3 class="mb-2 text-xl font-bold">Contact</h3>

<p class="mb-3">
  <a class="m-0 italic hyperlink" href="mailto:nmedin1@racunarstvo.hr"
    >nmedin1@racunarstvo.hr</a
  >
</p>

<a href="assets/pdf/cv_Medini_Nikola_eng.pdf" target="_blank">
  <button class="custom-btn btn-4">
    <img class="inline align-baseline cv" src="assets/images/misc/cv.png" />
  </button>
</a>
