<div class="grid grid-cols-1 gap-5 xl:grid-cols-2">
  <app-title-card
  [title]="'IHF U19 World Championship Croatia 2023 Graphics Package'"
  [subtitle]="'UI/UX + Motion Design + Concept Idea'"
  [path]="'ihfU19'"
  [imageSrc]="'assets/images/ihfU19/Real/u19_stats.png'"
></app-title-card>
<app-title-card
    [title]="'Funky Motion'"
    [subtitle]="'Motion design + Showreel'"
    [path]="'funky-motion'"
    [imageSrc]="'assets/images/funky-motion/funky.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion design + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Erste End Card'"
    [subtitle]="'Motion design + Internship'"
    [path]="'erste'"
    [imageSrc]="'assets/images/erste/erste.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Making of Vegeta Commercial'"
    [subtitle]="'Video editing + Color correction + Internship'"
    [path]="'vegeta'"
    [imageSrc]="'assets/images/vegeta/vegeta.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Making of Podravka Commercial'"
    [subtitle]="'Video editing + Color correction + Internship'"
    [path]="'podravka'"
    [imageSrc]="'assets/images/podravka/podravka.png'"
  ></app-title-card>
  <app-title-card
  [title]="'Vintage Cocktail Video'"
  [subtitle]="'Video editing + Screenwriting'"
  [path]="'cocktail'"
  [imageSrc]="'assets/images/vintage-cocktail/cocktails.png'"
></app-title-card>
  <app-title-card
    [title]="'Lavandera Website'"
    [subtitle]="'Motion design + HTML + CSS + JS + SEO'"
    [path]="'lavandera'"
    [imageSrc]="'assets/images/lavandera/lavandera_logo.png'"
  ></app-title-card>
  <app-title-card
  [title]="'Apartmani Ane Website'"
  [subtitle]="'UX/UI + Web design + Wordpress'"
  [path]="'apartmani-ane'"
  [imageSrc]="'assets/images/apartmani-ane/ane.png'"
></app-title-card>
<app-title-card
[title]="'Virtual Factory Promovideo'"
[subtitle]="'Motion design + Group project'"
[path]="'virtual-factory'"
[imageSrc]="'assets/images/virtual-factory/vt_demo.png'"
></app-title-card>
<app-title-card
[title]="'Colna Wine Label'"
[subtitle]="'Graphic design + Concept idea'"
[path]="'colna'"
[imageSrc]="'assets/images/colna/Colna.png'"
></app-title-card>
<app-title-card
[title]="'Olival Job Application'"
[subtitle]="'Graphic Design + Concept Idea'"
[path]="'olival'"
[imageSrc]="'assets/images/olival/olival.png'"
></app-title-card>
<app-title-card
[title]="'LM Plus Olive Oil Label'"
[subtitle]="'Graphic design + Concept idea'"
[path]="'olive-label'"
[imageSrc]="'assets/images/olive-label/bottles.jpeg'"
></app-title-card>
<app-title-card
[title]="'Cocktails Menu'"
[subtitle]="'Graphic design + Concept idea'"
[path]="'cocktails-menu'"
[imageSrc]="'assets/images/cocktails-menu/cocktail-menu.png'"
></app-title-card>


</div>
