<div class="grid grid-cols-1 gap-5 lg:grid-cols-2 md:mr-[25%]">
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
  <app-title-card
    [title]="'Diners End Card'"
    [subtitle]="'Motion desing + Internship'"
    [path]="'diners'"
    [imageSrc]="'assets/images/diners/diners.png'"
  ></app-title-card>
</div>
