.sidebar {
  width: 325px;
  padding: 30px;
  // padding-top: 0;
  // padding-bottom: 30px;
  // padding-left: 100px;
  // padding-right: 100px;
  @media only screen and (max-width: $screen-md) {
    width: 200px;
    margin: auto;
  }

  text-align: center;

  .sticky {
    position: sticky;
    top: 25px;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      a {
        font-style: italic;
        text-decoration: none;
      }
      &:after {
        content: " / ";
      }
      &:last-child:after {
        content: "";
      }

      &.link-active > a {
        border-bottom: 1px $color-text-secondary solid;
        border-width: 1px;
      }
    }
  }

  .logo {
    // width: 100%;
    width: 135px;
  }
}
