<p class="mb-5">Graphic Design + Concept Idea</p>
<h1 class="mb-12 text-5xl font-bold">LM Plus Olive Oil Label</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
    The client commissioned an olive oil label for this project. The client wanted the label to be made like her sketch.I presented my idea and created multiple versions of the label so the client could choose which one she liked the most, 
    and she chose all of them.Because of the way the client intended the label to be read, it was difficult to design something that wouldn't be confusing. 
    That difficulty was overcome by using principles of design like hierarchies.The buzzwords were the smallest, while the most crucial features, such as the logo and product name, were the biggest. 
</p>


<h3 class="mb-2 mt-5 text-l font-bold">Sketch send by the client</h3>
<div class="mb-5 flex flex-wrap">
    <img class="max-w-[700px]" src="assets/images/olive-label/skech.jpg" />
  </div>
  <h3 class="mb-2 mt-5 text-l font-bold">Labels</h3>
  <div class="mb-5 flex flex-wrap gap-4 ">
    <img class="max-w-[300px] w-full" src="assets/images/olive-label/label2.jpg" />
    <img class="max-w-[300px] w-full" src="assets/images/olive-label/label1.jpg" />
    <img class="max-w-[300px] w-full" src="assets/images/olive-label/label3.jpg" />
  </div>
  <h3 class="mb-2 mt-5 text-l font-bold">End Result</h3>
<div class="mb-5 flex flex-wrap gap-4">
    <img class="max-w-[700px] w-full" src="assets/images/olive-label/labels.jpeg" />
    <img class="max-w-[700px] w-full" src="assets/images/olive-label/bottles.jpeg" />
    
 
</div>
