<p class="mb-5">Video editing + Screenwriting</p>
<h1 class="mb-12 text-5xl font-bold">Vintage Cocktail Video</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  This project was my video production assignment. I had to develop the script,
  set up the lighting and camera equipment, then edit the project in Premiere
  Pro.
</p>

<div class="youtube-video-container">
  <iframe
    src="https://www.youtube.com/embed/4U-HACoOYqo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
