<p class="mb-5">Motion Design + Showreel</p>
<h1 class="mb-12 text-5xl font-bold">Funky Motion</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  This is my first personal showreel. 
  This project was part of my final theses and it consists of two-dimensional animated sequences that could be used as marketing material.
All illustrations were made and animated by me. Animations were first sketched on paper for better visualization. After that, components like illustrations were made in Adobe Illustrator. The next phase consisted of animated illustrations and adding multiple effects to achieve my vision. For added immersion, all of the animations follow musical rhythm. While I was creating animations I kept in mind that they needed to follow a musical rhythm.
With this project, I wanted to show the playful imagitation and creative process that come with it. The star and its journey through a disorganized process of changing states serve as the main motif. 
</p>

<div class="youtube-video-container">
  <iframe
    src="https://www.youtube.com/embed/hkU7WfW-ICw"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
<h3 class="mb-2 mt-5 text-l font-bold">Color Palette</h3>
<div class="mb-5 flex flex-wrap">
    <img src="assets/images/funky-motion/Artboard.png" />
  </div>
  <h3 class="mb-2 mt-5 text-l font-bold">Illustrations</h3>
  <div class="mb-5 flex flex-wrap ">
    <img class="max-w-[700px] w-full" src="assets/images/funky-motion/illustracije.png" />
  </div>
  <h3 class="mb-2 mt-5 text-l font-bold">Preview shots</h3>
<div class="mb-5 flex flex-wrap  gap-4">
  <img class="max-w-[600px] w-full" src="assets/images/funky-motion/comp4.png" />
  <img class="max-w-[600px] w-full" src="assets/images/funky-motion/comp9.png" />
  <img class="max-w-[600px] w-full" src="assets/images/funky-motion/funky.png" />
  <img class="max-w-[600px] w-full" src="assets/images/funky-motion/comp8.png" />
 
</div>


<p class="mb-5 text-base italic">
  I went more in depth in my final thesis, which was about motion design, so if you are interested, you can read more <a class="hyperlink" href="https://liveracunarstvo-my.sharepoint.com/:w:/g/personal/nmedin1_racunarstvo_hr/EVQgxQG6C0tNogWMYlOaRukByJBhb0kWdrFRyNnE4rnc0Q?rtime=MG0mRTIe20g"> here</a>. (Croatian Only)
</p>

