<p class="mb-5">Motion design + Intership</p>
<h1 class="mb-12 text-5xl font-bold">Erste End Card</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  This project was made during my internship at
  <a class="hyperlink" href="https://www.valprodukcija.hr/" target="_blank">
    Val produkcija.
  </a>
  <br />
  I had to animate a prepared psd file that was handed to me.
</p>

<div class="youtube-video-container">
  <iframe
    src="https://www.youtube.com/embed/kvaVPYxvnWA"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
