<p class="mb-5">Graphic design + Concept Idea</p>
<h1 class="mb-12 text-5xl font-bold">Wine Label</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  In this project I had to make wine lable concept and design for the client. First I had to come
  up with ideas, I wanted the label to look as modern and minimalistic as
  possible. The simplicity and clarity of a single grape came to mind first.
</p>

<div class="mb-5 flex flex-wrap justify-evenly images-container gap-5">
  <img src="assets/images/colna/Colna_v1.png" />
  <img src="assets/images/colna/Colna_v2.png" />
  <img src="assets/images/colna/Colna_v4.png" />
  <img src="assets/images/colna/Colna_v6.png" />
  <img src="assets/images/colna/Colna_v7.png" />
</div>

<p class="mb-5 text-base italic">Then I decided to experiment a little.</p>

<div class="mb-5 flex flex-wrap justify-evenly images-container gap-5">
  <img src="assets/images/colna/Colna_v9.png" />
  <img src="assets/images/colna/Colna_v11.1.png" />
  <img src="assets/images/colna/Colna_v13.png" />
  <img src="assets/images/colna/Colna_v14.png" />
  <img src="assets/images/colna/Colna_v15.png" />
</div>

<h3 class="mb-2 text-xl font-bold">Final Result</h3>
<p class="mb-5 text-base italic">
  Finally, I decided that the final concept was the best because it represented
  the harsh dalmatian winds and their impact on wine production.
</p>

<div class="max-w-[900px] w-full">
  <img class="w-full" src="assets/images/colna/Colna.png" />
</div>
