<header class="sticky">
  <a [routerLink]="''"
    ><img
      src="/assets/images/misc/logo_koncept_blu.png"
      class="logo"
      alt="logo"
  /></a>
  <!--
  <div class="lines"><div class="romb"></div></div> -->

  <h2 class="side-text">Medini Nikola</h2>
  <p class="side-text text-secondary">Multimedia Designer</p>
  <!--
  <div class="lines"><div class="romb"></div></div> -->
  <nav>
    <ul>
      <li [ngClass]="{ 'link-active': !isLinkActive() }">
        <a class="text-secondary" [routerLink]="''">{{
          "Work" | uppercase
        }}</a>
      </li>
      <li [ngClass]="{ 'link-active': isLinkActive() }">
        <a class="text-secondary" [routerLink]="'about'">{{
          "About" | uppercase
        }}</a>
      </li>
    </ul>
  </nav>
</header>
