<header class="sticky p-4 w-48 m-auto md:ml-6 md:mt-4 top-4 text-center">
  <a class="flex justify-center" [routerLink]="''"
    ><img
      src="/assets/images/misc/logo_koncept_blu.png"
      class="w-32"
      alt="logo"
  /></a>

  <div class="lines"><div class="romb"></div></div>

  <h1 class="font-bold mb-2">Medini Nikola</h1>
  <p class="text-secondary">Multimedia Designer</p>

  <div class="lines"><div class="romb"></div></div>
  <nav class="sidebar-nav">
    <ul>
      <li [ngClass]="{ 'link-active': !isLinkActive() }">
        <a class="text-secondary" [routerLink]="''">{{ "Work" | uppercase }}</a>
      </li>
      <li [ngClass]="{ 'link-active': isLinkActive() }">
        <a class="text-secondary" [routerLink]="'about'">{{
          "About" | uppercase
        }}</a>
      </li>
    </ul>
  </nav>
</header>
