<p class="mb-5">UX/UI + Web design</p>
<h1 class="mb-12 text-5xl font-bold">Apartmani Ane</h1>

<h3 class="mb-2 text-xl font-bold">About the project</h3>
<p class="mb-5 text-base italic">
  In this project I was tasked with creating a brand-new design of an outdated
  website. I made enitre design in
  <a
    class="hyperlink"
    href="https://www.figma.com/file/NOipZUdkLuIsyJ1JW9mAsT/Apartmani-Ane"
    target="_blank"
    >Figma</a
  >.
  <br />
  I also made a logo for the site. I had to keep in mind that website has be
  both aesthetically beautiful and user-friendly.
  <br />
  You can read more about my process
  <a class="hyperlink" href="assets/pdf/seminar.pdf" target="_blank">here</a>
  (Croatian only).
</p>

<div class="w-full max-w-[900px]">
  <img src="assets/images/apartmani-ane/ane2.png" />
</div>
