@import "framework/framework";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  // default font settings
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  @apply text-primary;
}
